.navbar-cintillo p {
    font-size: 14px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    color: white;
    
}

.navbar-cintillo{
    background-color: rgb(226, 121, 188);
    height: 25px;
}
.navbar-section-info {
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.navbar-section-info-logo img{
    width: 120px;
    height: auto;
    display: flex;
    margin-left: 30px;
}

.navbar-section-info-search input{
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(226, 121, 188);
    max-height: 800px;
    margin-top: 25px;
    margin-right: 60%;
}

.navbar-section-info-help {
    display: flex;
    margin-right: 20px;
    align-items: flex-end;
}

.mobile-header{
    display: flex;
}

.navbar-boton{
    height: auto;
    background-color: white;

}


.navbar-boton button{
    background-color: white;
    min-width: 80px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    margin: 4px;
    padding: 8px;
}

.navbar-boton button:hover {
    background: rgb(226, 121, 188);
    color: white;
    border-color: rgb(226, 121, 188);
}

.icono img{
    width: 30px;
    height: auto;
}
/* .Avatar{
    width: 40px;
    height: auto;
    display: flex;
}

.carrito-img{
    width: 0px;
    height: auto;
    color:white;
}

.telefono{
    width: auto;
    height: 40px;
    
}

.ayuda{
    width: auto;
    height: 40px;
   
} */


.Categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(184, 184, 184);
}

.catego{
    margin-block: 8px;
}

.navbar{
    position:fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}